#landing-page-content {
    margin-top: 10vh;
    min-height: 90vh;

    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
}

#landing-graph {
    height: 20vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}
