.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    height: 10vh;
    z-index: 1000;
    box-shadow: .005vh .0015vh .5vh .5vh rgba(0, 0, 0, 0.3);
}

.header nav {
    height: 100%;
    width: 100%;
}

#title-container {
    max-width: 40vw;
    background-color: teal;
    float: left;
    margin-top: 3vh;
    margin-left: 3vw;
}

#login-container {
    max-width: 40vw;
    background-color: gold;
    float: right;
    margin-top: 3vh;
    margin-right: 3vw;
}
