.title-tool {
    outline: 1px black solid;
    border-radius: 2vh;
    box-shadow: 1px 1px 1px 1px;
    background-color: white;
    height: 8vh;
    margin-top: 1vh;
    width: 96vw;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 50vw minmax(0, 1fr);
}

.title-tool-center {
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swipe-indicator {
    width: 3vw;
}

.heatmap-dropdown-button {
    height: 3vh;
    width: 14vw;
}
