.title-tool {
    outline: 1px black solid;
    border-radius: 2vh;
    box-shadow: 1px 1px 1px 1px;
    background-color: white;
    height: 8vh;
    margin-top: 1vh;
    width: 96vw;
    display: grid;
    grid-template-columns: 23vw 50vw 23vw;
    position: relative;
}

.title-tool-center {
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.swipe-indicator {
    width: 3vw;
}
